@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.App {
  text-align: center;
  color: whitesmoke;
  font-family: 'Poppins', sans-serif;
  background-image: url(./Assets/bg1.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow-x: hidden;
}
